.layout-container {
    position: relative;
    /* border: 2px solid red; */
    width: 100vw;
    height: 100vw;
    padding: 0%;
}


.navbar-container {
    padding: 0%;
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: flex-start;
}